DATABASE_URL="postgresql://palticket:palticket@localhost:5432/palticket?schema=public"
JWT_SECRET="CHANGE_ME_32CHARS_MINIMUM________________"
JWT_EXPIRES_IN="15m"
PORT=3001
NODE_ENV=development
CORS_ORIGINS="http://localhost:8080"
